@font-face {
    font-family: "Poppins", sans-serif;
    src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Medium", sans-serif;
    src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}


:root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(240, 10%, 3.9%);
    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(240, 10%, 3.9%);
    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(240, 10%, 3.9%);
    --primary: hsl(240, 5.9%, 10%);
    --primary-foreground: hsl(0, 0%, 98%);
    --secondary: hsl(240, 4.8%, 95.9%);
    --secondary-foreground: hsl(240, 5.9%, 10%);
    --muted: hsl(240, 4.8%, 95.9%);
    --muted-foreground: hsl(240, 3.8%, 46.1%);
    --accent: hsl(240, 4.8%, 95.9%);
    --accent-foreground: hsl(240, 5.9%, 10%);
    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(240, 5.9%, 90%);
    --input: hsl(240, 5.9%, 90%);
    --ring: hsl(240, 5.9%, 10%);
    --radius: 0.5rem;
    --font-family: 'Poppins', sans-serif;
    --font-family-Medium: "Poppins-Medium", sans-serif;

}

.dark {
    --background: hsl(240, 10%, 3.9%);
    --foreground: hsl(0, 0%, 98%);
    --card: hsl(240, 10%, 3.9%);
    --card-foreground: hsl(0, 0%, 98%);
    --popover: hsl(240, 10%, 3.9%);
    --popover-foreground: hsl(0, 0%, 98%);
    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(240, 5.9%, 10%);
    --secondary: hsl(240, 3.7%, 15.9%);
    --secondary-foreground: hsl(0, 0%, 98%);
    --muted: hsl(240, 3.7%, 15.9%);
    --muted-foreground: hsl(240, 5%, 64.9%);
    --accent: hsl(240, 3.7%, 15.9%);
    --accent-foreground: hsl(0, 0%, 98%);
    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 0%, 98%);
    --border: hsl(240, 3.7%, 15.9%);
    --input: hsl(240, 3.7%, 15.9%);
    --ring: hsl(240, 4.9%, 83.9%);
    --font-family: "Poppins", sans-serif;
    --font-family-Medium: "Poppins-Medium", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-Medium);
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background: url("../public/assets/bg.svg");
    background-size: cover;
}

.customCard {
    opacity: 90%;
    max-width: 500px;
    max-height: 400px;
    padding: 40px;
    border: 2px solid rgba(61, 59, 59, 0.25);
    border-radius: 20px;
    background-color: rgba(248, 248, 248, 0.45);
    box-shadow: 0 20px 10px 20px rgba(0, 0, 0, 0.25);
    color: white;
    backdrop-filter: blur(10px);
    position: relative;
    animation: float 6s ease-in-out infinite;
}

.floatingAstroOnCard {
    position: absolute;
    margin: auto;
    top: -150px;
    right: 0;
    left: 0;
    transform: translateX(200px);
}

.card-title {
    font-size: 3.5rem;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
}

.desc {
    text-shadow: 0 0 10px #111;
}

.sec1 {
    height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}


.logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    color: white;
}

.navbar .links {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: .5rem;
    right: -7rem;
}

.icons {
    font-size: 2.8rem;
    color: #fff;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

.image2 {
    align-self: center;
    z-index: 1;
    animation: astroFloat 2s ease-in-out infinite, rotate 12s linear infinite;
}

@keyframes astroFloat {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(5deg);
    }
}


@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-20px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@-webkit-keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes blink {

    20%,
    24%,
    55% {
        color: #111;
        text-shadow: none;
    }

    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
        color: #fff6a9;
    }
}

@keyframes animateBg {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
    animation: animate 3s linear infinite;
}

span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

span:nth-child(2) {
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 2.2s;
    animation-duration: 3s;
}

span:nth-child(3) {
    top: 80;
    right: 0px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 2s;
}

span:nth-child(4) {
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 1.6s;
    animation-duration: 1.5s;
}

span:nth-child(5) {
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 2.8s;
    animation-duration: 2.5s;
}

span:nth-child(6) {
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 5s;
    animation-duration: 3s;
}

span:nth-child(7) {
    top: 300px;
    right: 0px;
    left: initial;
    animation-delay: 3.2s;
    animation-duration: 2.75s;
}

span:nth-child(8) {
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 3.4s;
    animation-duration: 2.25s;
}

span:nth-child(9) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 6.25s;
}

span:nth-child(9) {
    top: 0px;
    right: 450px;
    left: initial;
    animation-delay: 4.75s;
    animation-duration: 5.75s;
}

span:nth-child(10) {
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 3.4s;
    animation-duration: 5.25s;
}


/* BREAKPOINTS BITCHES! */

@media only screen and (max-width: 768px) {
    .card-title {
        font-size: 2.5rem;
    }

    .icons {
        display: inline-flex;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 17.7rem;
        background: transparent;
        backdrop-filter: blur(50px);
    }

    .navbar .links {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;

    }
}

@media (max-width: 992px) {
    .header {
        padding: 1rem 5%;
    }
}

.btn-container {
    width: fit-content;
    height: fit-content;
    position: relative;

}

.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.btn {
    background-color: rgba(74, 132, 199, 0.5);
    z-index: 10;
    color: white;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    transition: 0.2s;
    cursor: pointer;
    backdrop-filter: blur(10px);
}


.btn-container:hover {
    box-shadow: rgba(66, 125, 194, 0.8) 0px 0px 54px;
}

.btn:hover {
    outline: rgb(66, 125, 194) solid 2px;
    background-color: #212121;
}

.btn-container:hover>.svg-1 {
    transform: translate(130%, 50%);
}

.btn-container:hover>.svg-2 {
    transform: translate(-120%, -150%) rotate(30deg);
}

.btn-container:hover>.svg-3 {
    transform: translate(60%, -150%) rotate(-45deg);
}

.btn-container:hover>.svg-4 {
    transform: translate(-280%, 0%) rotate(30deg);
}

.btn-container:hover>.svg-5 {
    transform: translate(-80%, 60%) rotate(-45deg);
}

.btn:active {
    transform: scale(1.05);
}


/* ABOUT SECTION */

.card2 {
    opacity: 90%;
    max-width: 50rem;
    height: auto;
    padding: 40px;
    border: 2px solid rgba(61, 59, 59, 0.25);
    border-radius: 20px;
    background-color: rgba(248, 248, 248, 0.45);
    box-shadow: 0 20px 10px 20px rgba(0, 0, 0, 0.25);
    color: white;
    backdrop-filter: blur(10px);
    position: relative;

}

.spaceship {
    position: absolute;
    margin: auto;
    top: -90px;
    right: 0;
    left: 0;
    transform: translateX(-23rem);
}

.spaceship2 {
    position: absolute;
    margin: auto;
    bottom: -8px;
    right: 0;
    left: 0;
    transform: translateX(20.5rem);
}

.centerBtn {
    display: flex;
    justify-content: center;

}

.btnSpace {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(#212121, #212121), linear-gradient(137.48deg, #ffdb3b 10%, #FE53BB 45%, #8F51EA 67%, #0044ff 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#container-stars {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
}

strong {
    z-index: 2;
    font-family: 'Avalors Personal Use';
    font-size: 12px;
    letter-spacing: 5px;
    color: #FFFFFF;
    text-shadow: 0 0 4px white;
}

#glow {
    position: absolute;
    display: flex;
    width: 12rem;
}

.circle {
    width: 100%;
    height: 30px;
    filter: blur(2rem);
    animation: pulse_3011 4s infinite;
    z-index: -1;
}

.circle:nth-of-type(1) {
    background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
    background: rgba(142, 81, 234, 0.704);
}

.btnSpace:hover #container-stars {
    z-index: 1;
    background-color: #212121;
}

.btnSpace:hover {
    transform: scale(1.1)
}

.btnSpace:active {
    border: double 4px #FE53BB;
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: none;
}

.btnSpace:active .circle {
    background: #FE53BB;
}

#stars {
    position: relative;
    background: transparent;
    width: 200rem;
    height: 200rem;
}

#stars::after {
    content: "";
    position: absolute;
    top: -10rem;
    left: -100rem;
    width: 100%;
    height: 100%;
    animation: animStarRotate 90s linear infinite;
}

#stars::after {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
}

#stars::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 170%;
    height: 500%;
    animation: animStar 60s linear infinite;
}

#stars::before {
    background-image: radial-gradient(#ffffff 1px, transparent 1%);
    background-size: 50px 50px;
    opacity: 0.5;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-135rem);
    }
}

@keyframes animStarRotate {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0);
    }
}

@keyframes gradient_301 {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulse_3011 {
    0% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        transform: scale(0.75);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

/* ABOUT ME SECTION END */

/* CONTACT SECTION */

.customStyleCard {
    position: absolute;
    flex-wrap: nowrap;
    margin-top: 5rem;
}

.customStyleCard .card2 {
    margin-left: 10px;
    margin-right: 10px;
}

.num2, .num4{
    animation: float 7s ease-in-out infinite;
}
.num1, .num3{
    animation: Belowfloat 6s ease-in-out infinite;
}


@keyframes Belowfloat {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(20px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(0px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(20px);
    }
}
